:root {
  user-select: none;
}

@theme {
  --color-chocolate: #4d362e;
  --color-biege: #ede2d1;
  --color-terracotta: #b25b37;
  --color-terracotta-hover: #9c4b2c;
  --colot-espresso: #4d362e;
  --color-seashell: #faf6f1;
  --color-gray: #9b9894;
  --color-green: #848a4d;
  --color-red: #600000;
}

html,
body {
  background: var(--color-chocolate);
}
